// Color themes \\

// Color Theme One \\

$primary-color: #ebe0d3;
$secondary-color: #8d7261;
$tertiary-color: #668c75;
$highlight-color: #456251;
$primary-background: #fff;

$primary-font-color: #fff;




// Fonts and links \\

$links-color: #fff;
