// Color themes \\

// Color Theme One \\

$primary-color: #000;
$secondary-color: #000;
$tertiary-color: #fff;
$highlight-color: #9aa48a;
$primary-background: #fff;
$primary-font-color: #fff;
$primary-footer-color: #000;
$black: #000000;
$white: #ffffff;
$grey: #EEEEEE;

$sale: #8b8b8b;
$news: #d4bea8;

// Fonts and links \\

$links-color: #000;
$footer-text-color: #fff;