#woo-categories-frontpage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .woocommerce{
        width: 100%;
        @include min-screen(1080px){
            width: 1070px !important;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include min-screen(700px){
                flex-direction: row;
            }
        }
    }
}


.product-category{
    width: 300px !important;
    height: 500px;
    margin: 20px !important;
    position: relative;
    a{
        img{
            height: 100% !important;
            object-fit: contain;
            background-color: aliceblue;;
            object-fit: cover;
        }
    }
    h2{
        text-align: center;
        position: absolute;
        bottom: 0 !important;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px !important;
        padding-top: 25px !important;
        z-index: 2 !important;
        background-color: rgba(134, 105, 94, 0.6);
        color: white;
        .count{
            display: none;
        }
    }
    h2:hover{
        background-color: rgba(134, 105, 94, 1);
    }
}