#woo-categories-frontpage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .woocommerce{
        width: 100%;
        @include min-screen(1080px){
            width: 1030px !important;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;

            @include min-screen(992px){
                flex-direction: row;
                margin: 0;
            }
        }
        ul::before{
            display: none;
        }
        ul::after{
            display: none;
        }
    }
}

.product-category{
    width: 300px !important;
    height: 500px;
    margin: 0px !important;
    position: relative;
    margin: 10px 0 !important;
    @include min-screen (768px) {  
        margin: 0 !important;
     }
    a{
        img{
            background-color: aliceblue;;
            object-fit: cover;
            height: 285px !important;
        }
    }
    h2{
        text-align: center;
        position: absolute;
        bottom: 0 !important;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px !important;
        padding-top: 25px !important;
        z-index: 2 !important;
        background-color: $secondary-color;
        color: white;
        .count{
            display: none;
        }
    }
    h2:hover{
        opacity: 0.8;
    }
}

#woo-recommended-frontpage .woocommerce ul {
    @include max-screen(1200px){
        grid-template-columns: (2, 1fr)!important;
    }
    @include max-screen(592px){
        grid-template-columns: (1, 1fr)!important;
        justify-items: center !important;
    }
}

#woo-recommended-frontpage .woocommerce ul li {
    @include max-screen(1200px){
        width: 50%;
    }
    
}
