#primary{
    main{
        width: 1030px;
        margin: 20px auto 20px auto;
        ul{
            display: grid;
            grid-template-rows: 600px 400px;
            grid-template-columns: repeat(1, 300px);
            @include min-screen(800px){
                grid-template-columns: 440px 300px;
                grid-template-rows: 600px;
            }
        }
    }
}