#product-wrap{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    #product-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include min-screen(700px){
            grid-template-columns: repeat(2, 440px);
            #product-slider{
                .woocommerce-product-gallery{
                    .flex-viewport{
                        width: 433px;
                        height: 433px;
                    }
                }
            }
        }
    } 
}
