#items-on-sale-header{
       width: 1030px;
       margin-right: auto;
       margin-left: auto;
       margin-bottom: 40px;
       margin-top: 40px; 
       p{
           font-size: 2rem;
       }
}
#woo-onsale-frontpage{
    width: 100vw;
    display: flex;
    justify-content: center;
    .woocommerce{
        width: 100%;
        @include min-screen(1080px){
            width: 1070px !important;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include min-screen(700px){
            grid-template-columns: repeat(4, 1fr);
            }
            li{
                margin: 0px 0px 45px 0px !important;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: black;
                    img{
                        height: 285px !important;
                    }
                    span{
                        color: black;
                    }
                    .onsale{
                        color: white;
                        left: 0 !important;
                        right: auto !important;
                    }
                }
                .button{
                    background-color: $highlight-color;
                    color: white;
                    text-transform: uppercase;
                      }
            }
        }
        ul::before{
            display: none !important;
        }
    }
}

#woo-onsale-frontpage .woocommerce ul li a {
    @include max-screen(1200px){
        grid-template-columns: (2, 1fr)!important;
    }
    @include max-screen(592px){
        grid-template-columns: (1, 1fr)!important;
        justify-items: center !important;
    }
}

#woo-onsale-frontpage .woocommerce ul li {
    @include max-screen(1200px){
        width: 50%;
    }
    
}
