// Slider made with customized Flickr \\


.main-carousel {
    margin-bottom: 1em;
  }
  
  .carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 0;
    border-radius: 5px;
    counter-increment: carousel-cell;
    padding-top: 33%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #frontpage-hero-text-container {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;

        #headline {
            color: $primary-font-color;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 20px;

            @include min-screen (480px) {
                font-size: 24px;
            }
    
            @include min-screen (594px) {
                font-size: 32px;
            }
    
            @include min-screen (594px) {
                font-size: 40px;
            }
    
            @include min-screen (768px) {
                font-size: 48px;
            }
    
            @include min-screen (1024px) {
                font-size: 72px;
            }


        }

        #sub-title {
            font-size: 16px;
            color: $primary-font-color;
            font-weight: 700;
            margin: 30px 0 60px 0;

            @include min-screen (480px) {
                font-size: 20px;
            }
    
            @include min-screen (594px) {
                font-size: 24px;
            }
    
            @include min-screen (594px) {
                font-size: 32px;
            }
    
            @include min-screen (768px) {
                font-size: 40px;
            }
    
            @include min-screen (1024px) {
                font-size: 48px;
            }
        }

            #buy-button {
                color: $primary-font-color;
                font-weight: 700;
                text-transform: uppercase;
                background-color: $highlight-color;
                padding: 15px 5px 15px 5px;
                width: 20%;
                margin: 0 auto;
                text-decoration: none;
                font-size: 13px;

                @include min-screen (480px) {
                    font-size: 14px;
                    padding: 15px 5px 15px 5px;
                }
        
                @include min-screen (594px) {
                    font-size: 18px;
                    padding: 20px 10px 20px 10px;
                }
        
                @include min-screen (594px) {
                    font-size: 22px;
                    
                }

                @include min-screen (768px) {
                    padding: 25px 15px 25px 15px;
                }
        
            }
        
    }
  }
  
  

.flickity-slider {
    width: 102% !important;
}

.flickity-page-dots {
    bottom: 25px !important;
}

.flickity-page-dots .dot {
    width: 50px !important;
    background: #333 !important;
    border-radius: 30% !important;
    height: 15px !important;
}