// Footer structure \\


#footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $primary-footer-color;

    #contact, #brands, #customer-service, #mailchimp  {
        width: 20%;
        border: solid 1px black;
        margin: 15px 15px;
        padding: 15px;
        color: $footer-text-color;
        line-height: 1.2;

        a {
            color: $footer-text-color;
            text-decoration: none;
        }

        h2 {
            margin: 0;
        }

        ul {
            padding: 0;
            li {
                list-style: none;
            }
        }
    }
}