// Header structure \\


// Notes: Top header is grouped in 3 fractions. One for search, one for logo and one for account, favorites and checkout. Its made 

#header-container {
    width: 100%;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include max-screen (600px) {
        box-shadow: 0px 5px 5px rgba(68,68,68,0.6);
    }
    
    #search{
        position: absolute;
        left: 35px;
    }

    #header-box_one-burgermenu {
        display: none;
        position: absolute;
        left: 15px;
        @include max-screen (600px) {
            display: block;
        }
    }

    #header-box_one {
        width: 20%;
        left: 15px;
        position: absolute;
        display: flex;

        @include max-screen (600px) {
            display: none;
        }

        
        div {
            min-width: 45px;
            &:first-child {
                background-color: $secondary-color;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                position: relative;
                
                &:after {
                    content: "All";
                    transform: translate(-50%, -50%);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    color: $primary-font-color;
                }
            }
        }

        input {
            width: 70%;
            background-color: $primary-background;
            border: none;
            padding: 0 15px;
        }

        button {
            min-width: 45px;
            background: $tertiary-color center no-repeat;         
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 20px 0 20px 15px;
            border: none;
            cursor: pointer;
            background-size: 25px;
        }


    }

     #header-box_two {
        padding: 20px;
        @include max-screen (868px) {
            padding: 5px;
    }
        img {
            @include max-screen (1200px) {
                margin: 0 auto;
                display: flex;
                width: 50%;
                height: 50%;
        }
        @include max-screen (600px) {
            display: flex;
            width: 50%;
            height: 50%;
    }
        }

     }

    #header-box_three {
        
        right: 0;
        position: absolute;
        display: flex;

        .menu-topmenu-container {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;

            ul {
                display: flex;
                justify-content: center;
                padding: 0;
                list-style: none;
                li {
                    margin: 0 25px;
                    a {
                        padding: 20px 0;
                        opacity: 0;
                        font-size: 17px;
                    }
                }

            }
        }

        #account, #favorites, #checkout {
            div {
                
                display: flex;
                align-items: center;

                ul {
                    padding: 0;
                    list-style: none;
                    li {
                        
                        a {
                            padding: 20px;
                            opacity: 0;
                        }

                    }
                }

            }
        }
        
        
        #favorites, #checkout {
            width: 50%;
            margin: 0;

            div {
                min-height: 152px;
                @include max-screen (1200px) {
                    min-height: 96px;
                    width: 75px;
            }
                @include max-screen (868px) {
                    min-height: 64px;
                    width: 50px;
            }
            }
            
            

            &:first-child {
                background: url('http://clone.hovedopgave.kinsta.cloud/wp-content/uploads/sites/17/2020/05/heart.png') center no-repeat;  

                background-size: 33%;
            }
            &:last-child {
                background: $tertiary-color url('http://clone.hovedopgave.kinsta.cloud/wp-content/uploads/sites/17/2020/05/shoppingbag.png') center no-repeat;  

                background-size: 33%;
            }

        }
    }
}

#categories-container {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    @include max-screen (600px) {
        background-color: $primary-color;
    }
    #categories-categories {
        width: 60%;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: $margin;
        @include max-screen (600px) {
            display: none;
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;

            a {
                margin: 15px 10px;
                text-decoration: none;
                color: $links-color;
                font-size: $catagory-size;
            }
        }
    }

    

    #categories-subpage {
        width: 40%;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: $margin;
        @include max-screen (600px) {
            display: none;
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            a {
                
                margin: 15px 10px;
                text-decoration: none;
                color: $links-color;
                font-size: $catagory-size;
            }
        }
    }

    #header-box_one-mobile {
        display: none;
        @include max-screen (600px) {
                display: flex;
                margin: 10px auto;
            }

            div {
                min-width: 45px;
                &:first-child {
                    background-color: $secondary-color;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    position: relative;
                    
                    &:after {
                        content: "All";
                        transform: translate(-50%, -50%);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        color: $primary-font-color;
                    }
                }
            }
    
            input {
                width: 70%;
                background-color: $primary-background;
                border: none;
                padding: 0 15px;
            }
    
            button {
                min-width: 45px;
                background: $tertiary-color center no-repeat;         
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 20px 0 20px 15px;
                border: none;
                cursor: pointer;
                background-size: 25px;
            }
        }
    }




// Burger Menu \\



#menuToggle
{
  display: block;
  position: relative;

  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $secondary-color;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $primary-color;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -15px;
  padding: 35px 0px 0px 0px;
  
  
  background: $primary-color;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  ul {
      padding: 0;
      li {
          border-bottom: $secondary-color 1px solid;
          padding: 10px;
      }
  } 



    h2 {
        background-color: $secondary-color;
        padding: 15px;
        text-align: end;
    }

    li {
        padding: 10px 0;
        font-size: 22px;
        list-style: none;

    }
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}